.repoLinks {
  text-align: center;
  margin: 20px 0;
}

.repLink {
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  background-color: #3b9aff;
}

.repLink:hover {
  background-color: #ffffff;
  color: #3b9aff;
  font-weight: bolder;
  border: 1px solid #000000;
}

.integrantesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2%;
}

.fotoIntegrante {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #fff;
}
.integranteCard {
  text-align: center;
  margin: 15px;
}

.infoIntegrante {
  margin-top: 10px;
}

.nomeIntegrante {
  font-weight: bold;
  display: block;
}

.rmIntegrante {
  color: #555;
}
